@media screen and (min-width:600px){
  h1,
  section h1,
  article h1{
    font-size: 2rem;
  }
  p{
    text-align: center;
    font-size: 1.1rem;
  }
  section{
    text-align: left;
    margin: 0 auto;
    align-content: center;
    padding: 2rem;
  }

  /* Make date & notes span full width on desktop */
  input[type="date"],
  textarea,
  button {
    grid-column: span 2;
  }
  footer p{font-size: .9rem;}
  
   section:nth-child(2){
    text-align: left;
  }
  /* Side Menu */
  .sidemenu {
    left: -50%;
    width: 50%;
  }
   .vertical{
    display: none;
  }
   .horizontal{
    display: block;
  }
  .card p{
    text-align: center;
  }
  .slide{flex:0 0 70%}

}
