/************** BASE CSS **************/

/*********** HEADER STYLING ***********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px; 
    gap: 25px;
    align-items: center;
    padding: .75rem;;
    border: solid 1px #ddd;
    background-color: #0077b6;
    color: #fff;
}
header img{
    display: block;
    width: 100%;
    height: auto;
    border: solid 2px;
    border-radius: 15%;
    padding: .25rem;
}
header span{
    font-size: 1.2rem;
    color: #dbecef;
}
.hamburger{
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #dbecef;
    cursor: pointer;
}
.hamburger.show{
    color: #48cae4;
}
.hamburger::after{
    content: '\2630';
}
.hamburger.show::after {
    content: '\00D7';
}
/*********** ./HEADER STYLING ***********/

/************ NAVIGATION STYLING *************/
.navigation {
    display: none;    
    background-color: #0b343d;
    color: #d7ebee;
    transition: all .7s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), opacity 1s ease;
    max-height: 0;
    overflow: hidden;
}

.navigation.show {
    display: block;
    transform: scaleY(1);
    opacity: 1;
    max-height: 500px;
    /* prevents large content from overflowing */
}

.navigation ul {
    display: block;
    list-style: none;
    text-align: start;
}
.navigation ul li{
    padding: 1rem 2rem;    
}
.navigation ul li:hover,
.navigation li.current {
    font-weight: bold;
    background-color: #055361;
}
.navigation ul li a{
    text-decoration: none;
    color: #e7ecf3;
    color: #124e8f;
}
/************ ./NAVIGATION STYLING *************/



/*******************************************************/

/************** LARGER SCREENS CSS **************/

/*******************************************************/


@media screen and (min-width:38rem) {
    /*********** HEADER STYLING ***********/
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }
    header {grid-template-columns: 24px auto}

    .hamburger{
        display: none;
    }    
      
    /************ NAVIGATION STYLING *************/
    .navigation {
        display: block;
        padding: 0 .75rem;
        transform: none !important;
        opacity: 1 !important;
        max-height: none !important;
        overflow: visible;
    }
    .navigation ul {
        display: flex;
    }
    
   /************ ./NAVIGATION STYLING *************/
    
        
}

