@media screen and (min-width: 768px) {
    header{
        padding: 0.5rem 5rem;
    }

    header .btn {
        display: block;
    }
    nav.navigation {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav.navigation ul {
        display: flex;
        gap: 2rem;
    }

    nav .login{
        display: none;
    }

    .hamburger {
        display: none;
    }

    main {
        max-width: 1024px;
        margin: 0 auto;
    }
    main h1{
        font-size: 1.75rem;
    }

    .hero-text {
        border-radius: 10px;
    }

    .directory {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .view-toggle {
        display: flex;
        justify-content:end;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    footer {
        grid-template-columns: 1fr 2fr 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }
      footer .contact-info{
        grid-column: 2 / 3;
    }

    footer .author {
        grid-column: 1 /5;
    }
    
}