@media (min-width: 600px) {   

    header {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    header img {
        height: 80px;
    }

    .hero-text {
        font-size: 1.5rem;
        top: 60%;
        padding: 2rem;
    }

    .mission,
    .spotlights,
    .events.card {
        padding: 3rem 2rem;
    }

    .forecast-card:nth-child(2) {
        border-top: 1px dashed var(--border-color);
        border-bottom: 1px dashed var(--border-color);
    }
    .join p {
        font-size: 1.1rem;
    }

    /*** JOIN PAGE STYLING***/
    /* main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    @media screen and (min-width: 768px) { */
        /* main {
            flex-direction: row;
            align-items: flex-start;
        } */

    form {
        flex: 1;
        justify-content: center;
    }

    .membership-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /***** DISCOVER PAGE *********/
    .attraction-gallery {
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8";
    }
    
    figure img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
    

    footer .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 2rem;
    }
}