@media screen and (min-width: 768px){
    /*********** HEADER STYLING ***********/
    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 75px auto
    }
    header span {
        font-size: 1.5rem;   
    }

    .hamburger {
        display: none;
    }
    /*********** ./HEADER STYLING ***********/

    /* ****************************************** */
    /* ****************************************** */
    /* ****************************************** */

    /************ NAVIGATION STYLING *************/
    .navigation {
        display: block;
        padding: 0 .75rem;
        transform: none !important;
        opacity: 1 !important;
        max-height: none !important;
        overflow: visible;
    }

    .navigation ul {
        flex-direction: row;
    }
    

    /************ ./NAVIGATION STYLING *************/
    .filter-buttons button {
        width: 15rem;
        padding: 1rem;   
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;   
    }
    .about{
        grid-column: 1 / 3;
    }
    .photo{
        grid-column: 3/4;
    }
    .courses{
        grid-column: 1 / 4;
    }
}