@media screen and (min-width: 769px){
    /*********** HEADER STYLING ***********/
    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto
    }

    .hamburger {
        display: none;
    }
    /*********** ./HEADER STYLING ***********/

    /* ****************************************** */
    /* ****************************************** */
    /* ****************************************** */

    /************ NAVIGATION STYLING *************/
    .navigation {
        display: block;
        padding: 0 .75rem;
        transform: none !important;
        opacity: 1 !important;
        max-height: none !important;
        overflow: visible;
    }

    .navigation ul {
        display: flex;
    }
    

    /************ ./NAVIGATION STYLING *************/
}