/*********** GLOBAL VARIABLE ***********/
:root {
    --primary-color: #093809;
    --secondary-color: #0077b6;
    --accent-1:#51563A;
    --text-light: #F7FFF7;
    --text-dark:#000000;
    --bg-paragraph: #f5ede9;
    --completed: #d4edda;
    --not-completed: #f8d7da; 
}
/*********** GLOBAL VARIABLE ***********/

/* ****************************************** */
/* ****************************************** */

/* ************RESETS************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--text);
    max-width: 1200px;
    margin: auto;
}
main{
    margin: 0 auto;
    padding: 1rem;
    display: grid;
}
main, footer{
    line-height: 1.5rem;
}

/* ****************************************** */
/* ****************************************** */
/* ****************************************** */

/*********** HEADER STYLING ***********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    gap: 25px;
    align-items: center;
    padding: .75rem;
    border: solid 1px #ddd;
    background-color: #0077b6;
    color: var(--text-light);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    border: solid 2px;
    border-radius: 15%;
    padding: .25rem;
}

header span {
    font-size: 1.2rem;
}

.hamburger {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    color: var(--text-light);
}



.hamburger::after {
    content: '\2630';
}

.hamburger.show::after {
    content: '\00D7';
}

/*********** ./HEADER STYLING ***********/


/* ****************************************** */
/* ****************************************** */
/* ****************************************** */

/************ NAVIGATION STYLING *************/

.navigation {
    background-color: var(--primary-color);
    color: #d7ebee;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
}

.navigation.show {
    transform: scaleY(1);
    opacity: 1;
    max-height: 300px;
    /* Enough height to show all menu items */
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    padding: 1rem 2rem;
    background-color: var(--primary);
    justify-content: space-evenly;
}
.navigation li:hover,
.navigation li.current {
    background-color: var(--accent-1);
}

.navigation a {
    color: var(--text-light);
    padding: 0.75rem;
    text-decoration: none;
    transition: background 0.3s;
}

.navigation a.current {
    font-weight: bold;
    border-left: 4px solid var(--white); }

/************ ./NAVIGATION STYLING *************/

/*******************************************************/
/*******************************************************/
/*******************************************************/

/* MAIN SECTION */
main h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2rem;
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
}

section h2 {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 0.5rem;
    font-size: 1.2rem;
}

section p,
section img {
    padding: 1rem;
}

section img {
    display: block;
    width: 100%;
    max-width: 85%;
    height: auto;
    margin: 1.5rem;
    border-radius: 4px;
}

.filter-buttons {
    display: flex;
    justify-content:space-evenly;
    margin: 1rem 0;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: var(--bg-paragraph);
    border-radius: 4px;

}

.filter-buttons button {
    font-weight: bold;
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
    width:6rem;
    padding: 1rem;
}

.filter-buttons button:hover {
    background-color: var(--accent-1);
}

#courseList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.course {
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--not-completed);
}

.course.completed {
    background-color: var(--completed); }
/*******************************************************/
/*******************************************************/
/*******************************************************/


/* **********  FOOTER STYLING ************* */
footer {
    font-size: .9rem;
    margin-top: 3rem;
    text-align: center;
    border-top: 1px solid var(--gray);
    padding-top: 1rem;
    font-size: 0.9rem;
    background-color: var(--secondary-color);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.social-media img {
    width: 44px;
    height: 44px; 
}

footer .social-media a {
    padding: .25rem;
    border: solid 1px lightgray;
    background-color: var(--bg-paragraph);
    border-radius: 20%;
    width: 44px;
    height: 44px;
}

footer .social-media a:hover {
    background-color: #c3cfd4;
}

footer .author {
    background-color: rgb(82, 92, 100);
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
}



/* **********  FOOTER STYLING ************* */